Flask==2.3.3
flask-cors==3.0.10
bcrypt==4.0.1
pyotp==2.9.0
qrcode==7.3
Flask-JWT-Extended==4.4.4
pymongo==4.5.0
python-dotenv==1.0.0
firebase-admin==6.6.0
google-cloud-translate==2.0.1
google-auth==2.37.0
dnspython==2.7.0
gunicorn==23.0.0
